// section home

.pimg1 {
  background-image: linear-gradient(-225deg, rgba(0,0,0,0.3) 0%, rgba(0,0,0,0.4) 20%), image-url('table-home.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  height: calc(100vh - 70px);
  position: relative;
}

.ptext {
  position: absolute;
  top: 20%;
  width: 100%;
  text-align: center;
  color: white;
  font-size: 1rem;
}

.ptext2 {
  position: absolute;
  bottom: 15px;
  width: 100%;
  padding: 0 30px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  color: white;
  .fas {
    color: $main
  }
}

.subtitle-details p {
  margin-bottom: 0.5rem;
}

.fas,
.far {
  padding-right: 1rem;
}

.logos {
  padding: 1rem 0;
}

.home-link {
  padding-top: 2rem;
}

.btn-white {
  color: white;
}

.btn-black {
  color: black;
}

.btn-colored {
  color: $main;
}

.btn-reservation-home {
  padding: 1rem 2rem;
  background-color: transparent !important;
  border: solid 2px $main !important;
  border-radius: 5px;
  font-size: 1.1rem !important;
  font-weight: normal;
}

.btn-reservation-home:hover {
  background-color: $main !important;
  font-weight: bold;
  text-decoration: none;
  color: white !important;
}

//section Presentation

.presentation {
  background-image: image-url('logo-brun.png');
  background-color: #F8F1E5;
  background-repeat: no-repeat;
  background-position: center;
}

.wrapper-presentation {
  padding: 5rem 0;
  text-align: justify;
}

.description {
  max-width: 600px;
  margin: auto;
  font-size: 18px
}

#welcome {
  font-size: 42px;
  font-weight: bold;
}
.myhr {
  border-width: 2px;
  border-color: $main;
}

//section photo

.panneau img,
.salle img {
  width: 100%;
}

//section Menu

.title-header h2 {
  font-size: 42px;
  font-weight: bold;
}

.title-subheader {
  font-size: 21px;
}

.wrapper-menu {
  background-color: #F8F1E5;
  min-height: 100vh;
  padding: 5rem 0;
}

.menu-item {
  display: flex;
  justify-content: space-around;
  width: 100%;
}

.wrapper-carte {
  box-shadow: 0 2px 14px rgba(126,87,88,.1), 0 3px 6px rgba(0,0,0,.08);
  padding: 2rem 2rem;
  margin: 2rem 0;
  background-color: white;
}

hr {
  margin-top: 0 !important;
}

.nav-pills,
.nav-link {
  color: $main;
  text-decoration: none;
  :hover {
    color: $main;
  }
}

//section Contact
.wrapper-info {
  padding: 5rem 0;
  color: #F4F4F4;
  background-color: #454647;
}

.title-window {
  color: $main;
  font-weight: bold;
  hr {
    border: solid 1px $main,
  }
}

.window-info {
  padding: 1rem 2rem;
}

ul.list-contact {
  list-style: none;
  padding: 0 0;
  margin: 0 0;
  font-size: 18px;
}

li.list-item {
  margin-bottom: 1rem;
  display: flex-row;
  align-items: center;
  p {
    margin-bottom: 0px;
  }
}


//section Gallery
.wrapper-gallery {
  background-color: #F8F1E5;
  color: #2D2F30;
  padding: 5rem 0;
}

.wrapper-carousel {
  padding-top: 4rem;

}

