.pimg1 {
  background-image: linear-gradient(-225deg, rgba(0,0,0,0.3) 0%, rgba(0,0,0,0.4) 20%), image-url('table-home.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  height: calc(100vh - 70px);
  position: relative;
}

.ptext {
  position: absolute;
  top: 20%;
  width: 100%;
  text-align: center;
  color: white;
  font-size: 1.4rem;
}

.logos {
  padding: 2rem 0;
}

.wrapper-menu {
  background-color: white;
  min-height: 100vh;
  padding: 5rem 0;
}

.menu-item {
  display: flex;
  justify-content: space-around;
  width: 100%;
}

hr {
  margin-top: 0 !important;
}

.nav-pills,
.nav-link {
  color: #E67E22;
  text-decoration: none;
  :hover {
    color: #E67E22;
  }
}

.wrapper-gallery {
  padding: 5rem 0;
}

.wrapper-carousel {
  padding-top: 5rem;
}
