.pimg1 {
  background-image: linear-gradient(-225deg, rgba(0,0,0,0.3) 0%, rgba(0,0,0,0.4) 20%), image-url('table-home.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  height: calc(100vh - 70px);
  position: relative;
}

.ptext {
  position: absolute;
  top: 20%;
  width: 100%;
  text-align: center;
  color: white;
  font-size: 1rem;
}

.subtitle-details p {
  margin-bottom: 0.5rem;
}

.fas,
.far {
  padding-right: 1rem;
}

.logos {
  padding: 1rem 0;
}

.home-link {
  padding-top: 2rem;
}
.btn-reservation-home {
  padding: 1rem 2rem;
  color: $main !important;
  background-color: transparent !important;
  border: solid 2px $main !important;

  border-radius: 5px;
  font-size: 1.5rem !important;
  font-weight: bold;

}

.btn-reservation-home:hover {
  background-color: $main !important;
  color: white !important;
  font-weight: bold;
  text-decoration: none;
}
.presentation {
  background-image: image-url('logo-brun.png');
  background-repeat: no-repeat;
  background-position: center;
}

.wrapper-presentation {
  padding: 5rem 0;

}

.description {
  font-size: 18px;

}
.description hr {
  border-color: $main;
}

.panneau img,
.salle img {
  width: 100%;
}

.wrapper-menu {
  background-color: white;
  min-height: 100vh;
  padding: 5rem 0;
}

.menu-item {
  display: flex;
  justify-content: space-around;
  width: 100%;
}

hr {
  margin-top: 0 !important;
}

.nav-pills,
.nav-link {
  color: $main;
  text-decoration: none;
  :hover {
    color: $main;
  }
}
.wrapper-info {
  padding: 5rem 0;
  color: #F4F4F4;
  background-color: #454647;
}

.title-window {
  color: $main;
  font-weight: bold;
  hr {
    border: solid 1px $main,
  }
}

.window-info {
  padding: 1rem 2rem;
}

ul.list-contact {
  list-style: none;
  padding: 0 0;
  margin: 0 0;
  font-size: 1rem;
}

li.list-item {
  margin-bottom: 1rem;
  display: flex-row;
}

.wrapper-gallery {
  background-color: #F4F4F4;
  color: #2D2F30;
  padding: 5rem 0;
}

.wrapper-carousel {
  padding-top: 4rem;
}

