<div class="wrapper-reservation">
  <div class="container">
    <div class="row">
      <div class="col">
        <div class="title-header text-center">
          <h2>Thank you for your reservation !</h2>
        </div>
        <br>
        <div class="title-subheader text-center text-muted">
          <p class="title-subheader">A confirmation will be mailed to you shortly.</p>
          <br>
          <p>Looking forward to welcoming you in our restaurant.</p>
        </div>
      </div>
    </div>
  </div>
</div>
