.navbar-resto {
  justify-content: space-between;
  align-item: center;
  background: white;
}

.navbar-resto .navbar-collapse {
  flex-grow: 0;
}

.mr-auto {
  margin-right: auto;
  align-items: center;
}
